<div class="row">
	<div class="col-md-10">
		<app-shopping-edit-n (onAddIngredient)="newIngredientAdded($event)"></app-shopping-edit-n>
		<hr />
		<ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center" 
			*ngFor="let ingredient of ingredients" 
			[ngStyle]="{backgroundColor : ingredient.amount >5 ? 'green' : 'grey'}"
			>
				{{ ingredient.name }}
				<span class="badge badge-primary badge-pill">{{ ingredient.amount }}</span>
            </li>
        </ul>
	</div>
</div>
